@font-face {
	font-family: Joystick;
	src: url(../../../assets/fonte/joystixmonospace.ttf)
}
*{
    margin: 0 auto;
    font-family: Joystick,'Arial';
}
body {
    background-image: url(../assets/fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: #000 1px 0 30px;
    font-weight: bold;
    margin: 20px 0;
  }
  .search-input {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  a {
    text-decoration: none;
    color: #fff;
}
  .nav-bar{
    background-color: black;
    color:white;
  }
  .nav-bar ul {
      display: flex;
  }
  .nav-bar ul li {
      font-size: 24px;
      list-style: none;
      margin: 20px 10px 20px 0;
  }
  .card {
        width: 50%;
        margin: 0 auto;
        margin-top: 5rem;
        /* position: relative; */
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
  }
  
  .card-body {
    color: rgba(0, 0, 0, 0.9);
    padding: 1.25rem;
  }
  .card-img{
      width: 50px;
  }

  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
  }
  .select:focus {
    color: black;
  }
  .select::-ms-expand {
    display: none;
  }
  button {
    cursor: pointer;
    outline: none;
  }
  button.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
  }
  button.outline a {
    text-decoration: none;
  }
  button.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
  }
  button.outline:active {
    border-radius: 22px;
  }
  button.white-blue {
    font-weight: 700;
    color: #00aeef;
    border-color: white;
    background: white;
  }
  button.white-blue:hover {
    color: white;
    background: #00aeef;
    border-color: white;
  }
  .card{
    margin-top: 30px;
    padding: 30px;
  }
  .card-description{
    margin-top: 20px;
    font-size: 0.85rem;
    width: 40vw;
  }
  .card-title{
    margin: 20px;
  }
  .card-text{
    font-size: 0.7rem;
  }
  .card-img {
    margin: 20px;
  }
  .beersFavorites-img{
    width: 65px;
  }
  .favorites {
    display: flex;
    max-width: 900px;
    flex-flow: wrap;
    justify-content: center;
  }
  .card-favorites-title{
    font-size: 1.5rem;
  }
  .card-favorites{
    background-color: grey;
    color: white;
    width: 30%;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  .card-boby-match{
    font-size: 0.65rem;
    margin: 20px;
  }
  .erro-title{
    color: white;
    margin: 20px;
  }
  @media screen and (max-width: 900px){
    .nav-bar ul li {
        font-size: 14px;
    }
    .container{
        width: 90%;
    }
      .card{
        margin-bottom: 20px;
      }
      .card-description {
        font-size: 0.85rem;
        width: 100%;
         }
         .card-description_title{
            font-size: 10px;
         }
         .card-img{
            width:40px;
        }
        .card-body-img{
            width: 150px;
            height: 150px;
        }
  }